@page
@model CachingWithAttributesModel
@{
    ViewData["Title"] = "MediatR Caching with Attributes";
}

<div class="text-center">
    <h1 class="display-4">MediatR Caching with Attributes</h1>
</div>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>IsComplete</th>
        <th>RetrievedAt</th>
    </tr>
    @foreach (var todo in Model.Data.Todos)
    {
        <tr>
            <td>@todo.Id</td>
            <td>@todo.Name</td>
            <td>@todo.IsComplete</td>
            <td>@todo.RetrievedAt</td>
        </tr>
    }
</table>
